<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</root>
	
    <Console name="Console" target="SYSTEM_OUT" follow="true">
         <PatternLayout pattern="${LOG_PATTERN}" />
    </Console>
		
    <Appenders>

		<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH\:mm\:ss}| %-5p|%-15c{1}| %m%n" />
		</layout>
		</appender>


		<appender name="SHALARELAX"
			class="org.apache.log4j.RollingFileAppender">
			<param name="File" value="C:/logs/shalaRelaxTelegramBot.log" />
			<param name="MaxFileSize" value="15000KB" />
			<param name="MaxBackupIndex" value="3" />
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern"
					value="%d{yyyy-MM-dd HH\:mm\:ss}| %-5p| %-15c{1}| %m%n" />
			</layout>
		</appender>

		<appender name="HIBERNATE"
			class="org.apache.log4j.RollingFileAppender">
			<param name="File"
				value="C:/logs/hibernate_shalaRelaxTelegramBot.log" />
			<param name="MaxFileSize" value="15000KB" />
			<param name="MaxBackupIndex" value="3" />
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern"
					value="%d{yyyy-MM-dd HH\:mm\:ss}| %-5p| %-15c{1}| %m%n" />
			</layout>
		</appender>

    </Appenders>

	<category name="yoga.kulatantra" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="org.hibernate.SQL" additivity="false">
		<level value="trace" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="org.hibernate" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="org.springframework.ldap" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="org.springframework.security" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</category>

</log4j:configuration>